# VPN Daemon Configuration
LISTEN_HOST=0.0.0.0
LISTEN_PORT=8080
LOG_LEVEL=INFO
SUPPORTED_VPN_TYPES=amnezia
VPN_ALLOWED_IPS=127.0.0.1
AMNEZIA_IF=amn
AMNEZIA_NET=172.16.24.0
AMNEZIA_SUBNET=255.255.255.250